<tr>

<tbody>
  <td><img src="<%= product.image %>" width="150" height="150"></td>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= quantity %>  </td>
  <td><%= product.price %></td>
  <td><%= total_price %></td>
</tbody>
</tr>

